html{
    background-origin: padding-box;
    padding: 0;
    background-color: beige;
}
h1{
    font-size: 43px;
}
.fs{
    line-height: 25px;
    border: black solid 1px;
    margin: 7rem 30rem;
    text-align: center;
    max-width: 300px;
    border-radius: 1.3rem;
    background-color: rgb(240, 248, 255);
    
}

button{
    border-radius: 0.2rem;
    cursor:pointer;
    
}
